.titulodapagina {
  color: rgb(24, 21, 0);
  text-shadow:#ffffff96 1px -1px
}

.background-image {
      background-image: url('outros/img/back.jpeg');
      background-size: cover;
      opacity: 0.7; /* Aplicar opacidade à imagem de fundo */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; /* Coloque a imagem de fundo atrás do conteúdo */
  }
.container li :hover{
    opacity: 0.6;
  }

.container li {
  color: rgba(0, 0, 0, 0.671);
  }

.tamanhoCarrossel{
  width: 100%;
  margin: 0 auto;
}

.TEXTO-parceiros{
  color: rgba(0, 0, 0, 0.671);
  text-shadow:#5f5f5f 1px -1px;
  text-align: center;
}

.TEXTO-rodape{
  color: rgba(0, 0, 0, 0.671);
  text-shadow:#c7c7c7 1px -1px;
  text-align: center;
  position: relative;
}

.TEXTO-left{
  color: rgb(8, 8, 8);
  text-align: left;
  font-weight: bold;
}

.TEXTO-calculo{
  color: rgb(5, 5, 5);
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.TEXTO-basecalculo{
  color: rgb(2, 1, 1);
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.TITULO-carrossel1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  text-shadow:#000000dc 1px -1px
}
.DESC-carrossel1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
  text-shadow:#000 1px -1px
}
.TITULO-carrossel2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  text-shadow:#000000dc 1px -1px
}
.DESC-carrossel2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
  text-shadow:#000 1px -1px
}
.TITULO-carrossel3{
  color: rgb(240, 187, 14);
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  text-shadow:#1100ffdc 1px -1px
}
.DESC-carrossel3{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
  text-shadow:#000000 1px -1px
}

.TEXTO-center{
  color: rgb(8, 0, 124);
  text-align: center;
  font-weight: bold;
}

.container {
display: flex;
align-items: center; 
}



.coluna-esquerda {
flex: 1.2;
padding: 30px;
align-self: center;
}

.coluna-direita {
flex: 1.5;
padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root{
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;     
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1px;
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
  position: absolute;
  bottom: 0;
  background-color: blue;
  color: #FFF;
} 

#footer_social_media .footer-link:hover{ /*:hover aplica estilo quando o cursor do mouse está sobre ele*/
  opacity: 0.5;
}

#footer_social_media .footer-link i{ /*:hover aplica estilo quando o cursor do mouse está sobre ele*/
  font-size: 1.25rem;
}

#footer_content{
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 1rem;
  }

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media{
  display:flex;
  gap: 2rem;
  margin-top: 0.5rem;
}

#footer_social_media .footer-link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.0rem;
  width: 2.0rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
  background-color: #25d366;
}

#facebook {
  background-color: #4267b3;
}

.footer-list {
  display: flex;
  flex-direction: column; /*veja que organiza em colunas*/
  gap: 0.25rem; /*espaço entre os links*/
  list-style: none; /*remove os pontinhos da frente das lista*/
  color: #ff9807;
}

.footer-list .footer-link{
  color: var(--color-neutral-30);
}

.footer-list .footer-link:hover{
  color: #2929fc;
}

#footer_subscribe{
  color: var(--color-neutral-30);
  flex-direction: column;
  gap: 0.5rem;
}

#footer_subscribe p { /* "p" signfica que formatará tudo dentro de <p> */
  color: var(--color-neutral-30);
}

#input_group {
  display:flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.25rem ;
  width: 100%;
}

#input_group button {
  background-color: #ff9807;
  border: none;
  color: var(--color-neutral-40);
  padding: 0.25rem 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px; /* arredonda só as da direita*/
  cursor: pointer;  /*botão fica clicável, exemplo aparece a mãozinha*/
  transition: all 0.4s;
}

#input_group button :hover{
  opacity: 0.5;
}

#footer_copyright{
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 0.2rem;
  font-weight: 100;
}

@media screen and (max-width: 768px){
  #footer_content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }}
  
  @media screen and (max-width: 426px){
    #footer_content{
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
  }}

  .estilomodal{
    text-align: justify;
    color: #008d2f;
  }






